.galleryContent {
    padding: 30px;
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 200px;
    grid-auto-flow: dense;
    gap: 10px;
    padding: 10px;
}
.gallery .wide {
    grid-column: span 2;
}
.gallery .tall {
    grid-row: span 2;
}
.gallery .big {
    grid-column: span 2;
    grid-row: span 2;
}
.gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.gallery-video-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.gallery-image,
.gallery-video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  transition: transform 0.3s ease, filter 0.3s ease; 
}

.gallery-item:hover img,
.gallery-item:hover video {
  transform: scale(1.05); 
  filter: brightness(0.9); 
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalImgContainer {
   outline: none;
}

@media (max-width: 768px) {
    .galleryContent {
        padding: 10px;
    }
    .gallery {
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); 
    }
    .modalImgContainer {
        display: flex;
        justify-content: center;
    }
    .modalImgContainer video, .modalImgContainer img {
        width: 80%;
        height: 50%;
    }
}